@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ul{
  padding:0px;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.header{
  display:flex;
  justify-content: space-between;
}
.main{
  display:flex;
  flex-direction: column;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
