body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;

  /*padding-top: 20px;
  padding-bottom:12px;*/
}

.card {
  width: 768px;
  height: 432px;
  background: #fff;
  margin: 16px auto;
  padding-top: 20px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 16px 10px 10px 10px;
}


.content {
  background: #e3f4ff;
  margin: 10px;
  height: 60px;
  padding: 30px 15px;
  font-size: 30px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  height: 90px;
  padding: 15px 15px 15px  15px;
  font-size: 25px;
  text-align: center;

}

button {
  font-size: 25px;
  background: white;
  border: 1px solid #eee;
  display:block;
  padding:15px 40px;
  margin:0 auto;
  
}